html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

h1 {
  text-align: center;
}

main {
}

.heading--secondary--text,
.table--heading--text {
  text-align: center;
}

th,
td,
table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.8rem;
  width: 40rem;
  margin: 0 auto;
}

img {
  width: 7rem;
  height: 7rem;
  border-radius: 100rem;
}

span {
  font-weight: bold;
}
.mbold {
  text-transform: uppercase;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
