* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-width: 141.5rem;
}

body {
  font-size: 1.8rem;
}

nav {
  background-color: rgb(73, 73, 73);
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 1rem 18rem;
}

nav ul li a:link,
nav ul li a:visited {
  color: white;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:active {
  text-decoration: underline;
}

.ref--content li a:link,
.ref--content li a:visited {
  text-decoration: none;
  color: black;
}

.ref--content li a:hover,
.ref--content li a:active {
  color: blue;
  font-weight: bold;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 3rem;
}

h3 {
  margin-bottom: 2rem;
}
main {
  width: 110rem;
  float: left;
}

.heading--secondary--text,
.table--heading--text {
  text-align: center;
}

th,
td,
table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.8rem;
  width: 40rem;
  margin: 0 auto 3rem;
}

section.articles {
  background-color: rgb(211, 211, 211);
  display: table;
  margin: 0 auto;
}

article {
  display: inline-block;
  width: 25rem;
  height: 45rem;
  vertical-align: top;
  text-align: justify;
  margin: 1rem;
}

.img--box {
  display: table;
  margin: 2rem auto;
}

img {
  width: 7rem;
  height: 7rem;
  border-radius: 100rem;
}

.article--heading {
  text-align: center;
}

span {
  font-weight: bold;
}
.mbold {
  text-transform: uppercase;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}

.ref--heading {
  text-align: center;
}

.ref--sites,
.ref--imgs {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  min-width: 16.5rem;
}

.ref--sites {
  margin-left: 1rem;
}

.ref--imgs {
  margin-right: 1rem;
}

.ref--content {
  display: table;
  margin: -1.5rem auto 0;
}

.ref--content li {
  margin-left: 4rem;
  margin-top: 0.5rem;
}

.ref--text {
  text-align: center;
  margin-bottom: 1rem;
}

aside {
  position: fixed;
  right: 0;
}

footer {
  text-align: center;
  background-color: #777;
  padding: 3rem 0;
}

iframe {
  width: 26.1rem;
}
