input {
  display: block;
  margin-bottom: 10px;
}

textarea {
  display: block;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 20px;
}

#input-tipo-casa,
#input-tipo-apartamento {
  display: inline;
}

#div-result {
  margin-top: 20px;
  border: 1px solid black;
}
