* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  height: 60px;
  width: 60px;
  margin-left: 5px;
}

#pixel-board {
  display: table;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
}

.line {
  display: table-row;
}

.pixel {
  display: table-cell;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
}
